@function convert-to($value, $to-unit) {
	$conversion-factors: (
		"px-to-rem": 1 / 16,
		"rem-to-px": 16,
	);

	$conversion-factor: map-get($conversion-factors, $to-unit);

	@if $conversion-factor {
		@return $value * $conversion-factor;
	} @else {
		@error "Invalid unit conversion.";
	}
}

@function contrast-color($color) {
	$lightness: lightness($color);

	@if $lightness > 50 {
		@return black;
	} @else {
		@return white;
	}
}

@function tint-or-shade($color, $percentage) {
	@if (lightness($color) > 50) {
		@return darken($color, $percentage);
	} @else {
		@return lighten($color, $percentage);
	}
}
