@function px-to-rem($value) {
	$conversion-factor: 1 / 16;
	@return $value * $conversion-factor * 1rem;
}

@function rem-to-px($value) {
	$conversion-factor: 16;
	@return $value * $conversion-factor * 1px;
}

@function contrast-color($color) {
	$lightness: lightness($color);

	@if $lightness > 50 {
		@return black;
	} @else {
		@return white;
	}
}

@function tint-or-shade($color, $percentage) {
	@if (lightness($color) > 50) {
		@return darken($color, $percentage);
	} @else {
		@return lighten($color, $percentage);
	}
}
