@mixin make-row($gutter: 20px, $flex: true) {
	margin-left: -($gutter / 2);
	margin-right: -($gutter / 2);
	box-sizing: border-box;
	@if $flex {
		display: flex;
		flex-wrap: wrap;
	} @else {
		display: block;
	}
}

@mixin make-col($columns, $gutter: 20px) {
	flex-basis: 100%;
	min-height: 1px;
	padding-left: ($gutter / 2);
	padding-right: ($gutter / 2);
	box-sizing: border-box;
	@media (min-width: 768px) {
		flex: 0 0 calc((100% / 12) * #{$columns} - #{$gutter});
		max-width: calc((100% / 12) * #{$columns} - #{$gutter});
	}
}

@mixin make-container($max-width: 1200px) {
	margin: 0 auto;
	max-width: $max-width;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}