@mixin opacity-transition($duracao, $efeito) {
	opacity: 0;
	transition: opacity $duracao $efeito;
}

@mixin left-transition($duracao, $efeito, $left, $position: false) {
	@if $position {
		position: $position;
	}
	left: $left;
	transition: left $duracao $efeito;
}

@mixin top-transition($duracao, $efeito, $top, $position: false) {
	@if $position {
		position: $position;
	}
	top: $top;
	transition: top $duracao $efeito;
}

@mixin right-transition($duracao, $efeito, $right, $position: false) {
	@if $position {
		position: $position;
	}
	right: $right;
	transition: right $duracao $efeito;
}

@mixin bottom-transition($duracao, $efeito, $bottom, $position: false) {
	@if $position {
		position: $position;
	}
	bottom: $bottom;
	transition: bottom $duracao $efeito;
}
